
.about-us {
    display: block;
    background-color: white;
    color: #666666;
    height: 100%;
    max-width: 1400px;
    margin: 0 auto;
}

.block-1 {
    padding: 60px 80px 100px 80px;
    position: relative;
    background-image: url('../../images/about_us_banner.jpg');
    background-position: 0 263px;
}

.sign {
    width: 90px;
    text-align: center;
    color: white;
}

.sign hr {
    margin: 0;
    border-color: #ff0100;
}

.ab-title {
    font-size: 50px;
    font-weight: 400;
    color: #fff;
    margin: 0;
    letter-spacing: 10px;
}

.ab-info1 {
    position: absolute;
    padding: 20px 60px 20px 30px;
    right: 0;
    background: #fff;
    width: 500px;
    font-size: 1.1rem;
    bottom: -27px;
    font-weight: bold;
}

.sec-2 {
    display: flex;
}

.avatar {
    margin-left: 40px;
    flex-direction: column;
}

.avatar img {
    width: 100%;
}

.avatar .avatar-img {
    flex: 0.85;
}

.avatar .avatar-img iframe {
    width: 100%;
    height: 275px;
    box-shadow: 0 7px 8px #9e9e9e;
}

.avatar .avatar-content {
    display: flex;
    flex: 0.15;
    align-items: flex-end;
}

.avatar .avatar-content span {
    padding: 0 16px;
    border-bottom: 2px solid #ff0100;
}

.block-2 {
    padding: 100px 100px;
}

.our-gym-title {
    font-size: 36px;
    letter-spacing: 2px;
}

.flexible {
    flex: 1;
}


.block-3 {
    margin: 36px auto;
    background-color: red;
    color: white;
    display: flex;
    height: 320px;
    position: relative;
    max-width: 1126px;
}

.red-left-section {
    display: flex;
    /*width: 80%;*/
    padding: 30px 0 40px 30px;
    overflow: hidden;
    margin-right: 250px;
}

.r-d-f1 {
    width: 60%;
    font-size: 1.8rem;
    line-height: 2rem;
    padding: 0 10px 0 0;
}

.r-d-f1 span {
    font-size: 1.5rem;
}

.r-d-f2 {
    width: 40%;
    font-size: 0.9rem;
    margin-top: -30px;
    padding: 16px 26px;
    box-shadow: -8px -4px 8px 0 #e22020;
}

.float-right {
    position: absolute;
    width: 250px;
    height: 250px;
    right: 0;
    top: -54px;
    z-index: 1;
    background-color: white;
    border: 1px solid #c5c5c5;
    box-sizing: border-box;
    background-image: url('../../images/about_us_philosophy.png');
    background-size: 250px 250px;
    background-repeat: no-repeat;
    overflow: hidden;
}
.float-right img {
    transform: scale(3);
    pointer-events: none;
    opacity: 0;
    transition: all 400ms ease-in-out;
}
.float-right:hover img {
    opacity: 1;
    transform: scale(1);
}

.float-right:hover {
    /*background-image: url('../../images/about_us_philosophy_hover.jpg');*/
}

.float-right img {
    width: 250px;
    height: 250px;
}

.block-4 {
    text-align: center;
    margin: 150px auto 0;
    width: 45%;
    padding: 40px 0;
    box-sizing: border-box;
}

.float-bottom {
    position: absolute;
    width: 800px;
    height: 250px;
    right: 0;
    bottom: -126px;
    display: flex;
    background: white;
    color: #666666;
}

.float-content {
    padding: 16px 26px;
    flex: 1;
    display: flex;
}

.float-bottom .img {
    width: 222px;
    box-shadow: 0 8px 12px 0 #c3c3c3;
    background-image: url('../../images/about_us_philosophy_mission.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    overflow: hidden;
}

.float-bottom .img img {
    transform: scale(3);
    height: 100%;
    width: 100%;
    pointer-events: none;
    opacity: 0;
    transition: all 400ms ease-in-out;
}
.float-bottom :hover img {
    opacity: 1;
    transform: scale(1);
}

.second-txt {
    font-size: 1rem;
}

.sc-child {
    width: 50%;
    display: inline-block;
}

.btn {
    width: 100px;
    border: 1px solid red;
    padding: 5px 10px;
    text-align: center;
    cursor: pointer;
}

.btn:hover {
    background-color: gray;
    color: #ffffff;
}

.mission-title {
    font-size: 40px;
    letter-spacing: 7px;
    text-transform: uppercase;
    line-height: 40px;
}

.mission-content {
    font-size: 1rem;
    position: relative;
    padding-left: 80px;
    margin-top: 20px;
    text-align: left;
}

.mission-content .mission-avatar {
    position: absolute;
    left: 0;
    background-color: #7f85a2;
    width: 60px;
    height: 60px;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 50%;
    border: 2px solid #2b2e3e;
}

.testi-owner {
    font-weight: 500;
    margin-top: 5px;
}

.block-5 {
}

.mobile-only {
    display: none;
}
.desktop-only {
    display: block;
}

@media only screen and (max-width: 1023px) {

    .block-1 {
        background-image: url('../../images/about_us_banner_iPad.jpg');
    }
    .block-2 {
        padding: 30px;
    }

    .sec-2 {
        display: block;
    }

    .sec-2 .avatar {
        margin: 0;
    }

    .avatar .avatar-img iframe {
        width: 100%;
    }

    .block-3 {
        width: auto;
        display: block;
    }

    .float-right {
        position: static;
        display: none;
    }


    .sc-child {
        width: 100%;
    }

    .float-right, .float-bottom {
        /*position: relative;*/
        /*top: -125px;*/
        /*height: auto;*/
    }

    .float-right img {
        display: none;
    }

    .float-right {
        left: 30px;
    }

    .float-bottom img {
        /*display: none;*/
    }

    .red-left-section {
        width: 100%;
        padding: 30px;
        box-sizing: border-box;
    }



    .block-4 {
        width: 80%;
        padding: 80px 0;
    }
}

@media only screen and (max-width: 767px) {

    .block-1 {
        background-image: url('../../images/about_us_banner_mobile.jpg');
        background-size: 100% 100%;
    }

    .ab-title {
        letter-spacing: 0;
    }

    .block-1, .block-2, .block-3, .block-4 {
        padding: 25px 10px 10px 10px;
    }

    .ab-info1 {
        position: static;
        width: auto;
        border-radius: 5px;
        padding: 10px;
        margin-top: 20px;
    }

    .sc-child {
        width: 100%;
    }

    .block-2 {

    }

    .sec-2 {
    }

    .sec-2 .avatar {

    }

    .avatar .avatar-img img {
        border-radius: 5px;
    }

    .float-right {
        position: static;
        display: none;
    }

    .block-3 {
        display: block;
        height: auto;
    }
    .block-4 {
        width: 100%;
        margin: 0;
        padding-bottom: 50px;
    }

    .float-bottom {
        position: static;
        width: auto;
        display: block;
        height: auto;
        border-top-right-radius: 5px;
        border-top-left-radius: 5px;
    }
    .float-bottom .img {
        width: 100%;
        box-shadow: none;
        display: block;
        border-top-right-radius: 5px;
        border-top-left-radius: 5px;
        height: 300px;
    }
    .float-content {
        padding: 10px;
    }

    .red-left-section {
        display: block;
        width: 100%;
        box-sizing: border-box;
        padding: 0;
    }

    .r-d-f1 {
        width: auto;
    }
    .r-d-f2 {
        width: 100%;
        padding: 0;
        margin: 0;
    }
}

@media only screen and (max-width: 500px) {
    .mobile-only {
        display: block;
    }
    .desktop-only {
        display: none;
    }
    .float-bottom > .img {
        /* background-image: url('../../images/about_us_philosophy_mission_mobile.png'); */
    }
}