@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@300;400;500;600;700&family=Teko:wght@300;400;500;600;700&display=swap");
#root {
    font-family: 'Roboto';
    font-size: 16px;
    min-height: 100vh;
    overflow: auto;
}

.App {
    text-align: center;
}

li, ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

/*
  dark-theme-color: #2b2e3e
  red-theme-color: #f72c2d
*/
.App-logo {
    height: 40vmin;
    pointer-events: none;
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.ln-dt {
    content: url("./images/netherlands.svg");
    height: 20px;
    width: 20px;
    top: 4px;
    position: relative;
    left: 1px;
}
.ln-en {
    content: url("./images/united-kingdom.svg");
    height: 20px;
    width: 20px;
    top: 4px;
    position: relative;
    left: 1px;
}


h1 {
    font-size: 30px;
    text-transform: uppercase;
    font-weight: bold;
}

.App-link {
    color: #61dafb;
}

header {
}

main {
    font-family: 'Teko', 'helvetica';
    min-height: 100vh;
    overflow: auto;
    font-size: 20px;
}

.title {
    text-transform: uppercase;
    text-align: center;
    font-size: 50px;
    font-weight: 400;
    margin: 0;
    -webkit-letter-spacing: 10px;
    -moz-letter-spacing: 10px;
    -ms-letter-spacing: 10px;
    letter-spacing: 10px;
}

.header-area {
    background: linear-gradient(90deg, transparent, #2b2e3e);
    color: #ffffff;
    padding: 10px 30px 6px;
    display: flex;
    height: 90px;
    box-sizing: border-box;
    position: absolute;
    left: 0;
    right: 0;
    box-shadow: -1px 4px 9px #616161;
    z-index: 11;
}

.header-area.sticky {

}

.secondary {
    display: none;
    background: transparent;
    box-shadow: none;
}

.secondary.sticky {
    display: flex;
    position: fixed;
    z-index: 11;
}

/******************* Header CSS starts  ********************/
.header-menus {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: flex-end;
}

.header-menus-mobile {
    display: none;
    flex: 1;
    justify-content: flex-end;
    align-items: center;
    position: relative;
}

.header-menu-icon {
    cursor: pointer;
    padding: 31px;
    background: transparent;
    border: none;
    outline: none;
}

.header-menus-mobile.selected .header-menu-icon {
    background-color: white;
}

.header-menu-icon > div {
    background-color: orangered;
    width: 30px;
    height: 4px;
    margin-top: 4px;
}

.header-menus-mobile ul {
    position: absolute;
    top: 80px;
    left: 0;
    right: 0;
    background-color: #ffffff;
    width: 100%;
}

.mobile-menu {
    display: none;
}

.logo img {
    width: 230px;
}

.menu-item {
    cursor: pointer;
}

.secondary.sticky img {
    box-shadow: 1px 1px 13px #dcdcdc;
    border-radius: 10px;
    padding: 7px;
    width: 155px;
    background: white;
}

.menu-item span.language:hover {
    color: lightgreen;
}

.menu-item a {
    padding: 20px 30px;
    text-decoration: none;
    color: white;
    border-radius: 10px;
    transition: all 0.3s ease-in-out;
}

.menu-item a:hover {
    background-color: #333;
}

/******** Header CSS ends *************/

main {
    min-height: calc(100vh - 190px);
    margin: 90px auto 0 auto;
    border: 1px solid #dcdcdc;
    max-width: 1400px;
    box-sizing: border-box;
    padding: 0;
    background-image: url('./slides/banner_03.jpg');
    background-repeat: no-repeat;
    color: white;
    background-size: 100% 100%;
    /*font-family: "senticosans",Arial,Verdana,sans-serif;*/
}

.footer {
    background-color: #2b2e3e;
    color: white;
}

.footer-copy {
    text-align: center;
    border-top: 1px solid #111217;
    padding: 16px;
    color: #9e9e9e;
    font-size: 0.9rem;
}
.footer-content {
    display: flex;
    padding: 50px;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 1000px;
}
.footer-section {
}

.footer-section label {
    font-weight: bold;
    font-size: 1rem;
}

.section-list {
    padding: 0;
    margin-top: 40px;
}
.section-list li {
    line-height: 36px;
    color: #9e9e9e;
    cursor: text;
    font-size: 0.9rem;
}
.section-list li.disabled {
    opacity: 0.6;
    user-select: none;
}
.section-list a {
    line-height: 36px;
    color: #9e9e9e;
    /*cursor: text;*/
    font-size: 0.9rem;
    text-decoration: none;
}

.section-list a:hover {
    text-decoration: underline;
}
.section-list li.disabled span {
    cursor: not-allowed;
    opacity: 0.6;
    user-select: none;
}


/********** HOME page css starts *********************/
.home-page {
    padding: 100px;
    position: relative;
    display: flex;
    flex-direction: column;
}
.home-content {
    position: relative;
    width: 500px;
    overflow: hidden;
    align-self: flex-end;
}
.home-slides-container {
    width: 500px;
    height: 300px;
    /*position: absolute;*/
    right: 5%;
    overflow: hidden;
    text-transform: uppercase;
}
.home-signature {
    color: #f72c2d;
    display: flex;
    align-items: center;
}
.home-signature span {
    width: 100px;
    height: 3px;
    background-color: #f72c2d;
    display: block;
    margin-right: 20px;
}
.home-slide {
    width: 100%;
    position: absolute;
    color: #333333;
    transition: all 0.7s cubic-bezier(0.63, 0.01, 0.5, 0.96);
}
.home-msg {
    border: 4px solid #f72c2d;
    padding: 0 10px;
    font-size: 32px;
    color: #2b2e3e;
    background: #ffffff8f;
    border-radius: 16px;
    font-style: italic;
    margin-top: 186px;
}
.home-actions {}
/********** HOME page css ends *********************/


@media only screen and (max-width: 1023px) {
    .header-area {
        padding-right: 0;
    }
    .header-menus {
        display: none;
    }

    .header-menus-mobile .mobile-menu {
        display: block;
    }

    .header-menus-mobile {
        display: flex;
        z-index: 1;
    }
    .mobile-menu {
        overflow: hidden;
        animation: slideOut .3s ease-in-out;
    }
    .mobile-menu span.language {
        color: #2b2e3e;
    }
    .header-menus-mobile .mobile-menu .menu-item {
        transition: all 0.3s ease-in-out;
    }
    .header-menus-mobile.selected .mobile-menu {
        animation: slideIn .3s ease-in-out;
        box-shadow: 6px 4px 20px #848484;
    }
    .header-menus-mobile.selected .mobile-menu .menu-item {

    }
    .header-menus-mobile .mobile-menu .menu-item a, .mobile-menu span.language {
        display: block;
        padding: 25px;
        color: #2b2e3e;
        border-radius: 0;
        border-bottom: 1px solid #2b2e3e;
    }
    .header-menus-mobile .mobile-menu .menu-item a:hover {
        background-color: #2b2e3e;
        color: #ffffff;
    }
    .header-menus-mobile .mobile-menu .menu-item a:active {
        background-color: #f72c2d;
        color: white;
    }

    /**** Home page css starts **/
    .home-page {
        padding: 40px 0;
    }
    .home-slides-container {
        width: 100%;
        right: 0;
        left: 0;
    }
    /**** Home page css ends **/
}
@media only screen and (max-width: 767px) {
    h1 {
        font-size: 24px;
    }
    main {
    }
    .home-content {
        width: 100%;
    }
}

@media only screen and (max-width: 500px) {
    .home-page {
        padding: 50px 10px;
    }
    .header-menus-mobile {
        position: static;
    }
    .header-menus-mobile ul {
        top: 120px;
    }
    .footer-content {
        /*display: block;*/
        padding: 20px;
        text-align: center;
    }
    .section-list {
        margin: 5px 0 20px 0;
    }


    /**** Home page css starts **/
    .home-slides-container {
        height: 150px;
    }
    /**** Home page css ends **/
}

@keyframes slideIn {
    0% {
        opacity: 0;
        transform: translateY(-20px);
    }

    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}
@keyframes slideOut {
    100% {
        opacity: 0;
        transform: translateY(-20px);
    }

    0% {
        opacity: 1;
        transform: translateY(0px);
    }
}
